.store-container
{
    display: grid;
    grid-template-columns: 1fr 10fr;  
    min-height: 80vh;
    height: fit-content;
}

.item-list-holder
{
    display: grid;
    place-items: center;
    padding:5%;
    padding-bottom: 0;
}