
.cart-page
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 5vw;
}

.item-summary
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    grid-column: 1 / 2;
}

.cost-summary
{
    padding: 5vw;
    display: grid;
    place-items: center;
    grid-column: 2 / 3;
}