
.cart-page
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 5vw;
    min-height: 70vh;
    justify-content: center;
    place-items: center;
}

.item-summary
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    grid-column: 1 / 2;
}

.cost-summary
{
    padding: 10vh 3vw;
    display: grid;
    grid-column: 2 / 3;
    background-color: white;
    justify-self: center;
    align-self: center;
    border: 4px solid black;
    border-radius: 8px;
    gap:1vh;
    width: 18vw;
    height: 400px;
}

.cost-summary div
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
