.cart-card
{
    display: grid;
    grid-template-columns: 64px 4fr 1fr 2fr 1fr;
    align-items: center;
    background-color: white;
    padding: 1vh 1vw;
    border-radius: 8px;
    border: solid transparent 4px
}

.cart-card:hover
{
    border: solid rgb(255, 25, 25) 4px
}

.image-small
{
    aspect-ratio: 1 / 1;
    height: 64px;
    width: 64px;
}

.cart-quantity
{
    place-items: center;
    place-content: center;
    display: flex;
    flex-direction: row;
}

.button-card-small
{
    background: transparent;
    padding: 8px;
    margin: 0px;
    width: fit-content;
    font-size: x-large;
    height: fit-content;
    
}

.card-quantity-amount
{
    font-size: xx-large;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 60px;
}


.cart-card .quantity-button
{
    border: solid transparent 1px
}

.cart-card .quantity-button:hover
{
    border: solid rgb(255, 25, 25) 1px
}

.cart-card .delete-button
{
    font-size: xx-large;
    border: none;
}

.cart-card .delete-button:hover
{
    color:rgb(255, 25, 25);
    border: none;
}